/*전체 해더*/
.header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: none;
    box-sizing: border-box;
    font-family: inherit;
}

/*로고*/
.header_logo {
    font-size: 60px;
    font-weight: 700;  
    color: #0217C2;
    cursor: pointer;
    margin-bottom: 20px;
}
/*메뉴*/
/*메뉴 컨테이너*/
.header_menu_area {
    width: 883px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 20px;
    margin-top: 20px;
  
    
}

.header_menu_item {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #0217c2;
    text-decoration: none;
}

.header_menu_item:hover {
    color: #000;
}
