.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

.layout-header {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  align-items: center;
  background: #ffffff;
  color: #0217C2;
  height: 100px; 
  padding: 0 32px;

  border-bottom: 1px solid #ddd; /* 헤더 아래 경계선 */
}

.layout-body {
  display: flex;
  flex: 1;
}

.layout-sidebar {
  width: 250px;
  background: #ffffff;
  padding: 16px;
  border-right: 1px solid #ddd; /* 오른쪽 경계선 */
}

.layout-content {
  flex: 1;
  padding: 24px;
  background: #fff;
}

.layout-right {
  width: 250px;
  background: #ffffff;
  padding: 16px;
  border-left: 1px solid #ddd; /* 왼쪽 경계선 */
}
@media (max-width: 1024px) {
  .layout-right {
    display: none;
  }
}




/* 검색창 */

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  width: 700px;
  background-color: #f9f9f9;
}

.search-container input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  width: 700px;
  background: transparent;
}

.search-container button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


/*************************************************/
/*게시판 링크*/

.board-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.board-link {
  display: block;
  padding: 12px 16px;
  font-size: 16px;
  color: #0217C2;
  text-decoration: none;
  border-left: 4px solid transparent;
  transition: background 0.2s, color 0.2s;
}

.board-link:hover {
  background-color: #0217C208;
}

.board-link.active {
  color: #0217C2;
  font-weight: bold;
  border-left: 4px solid #0217C2;
  background-color: #eaf0ff;
}

.menu-divider {
  height: 1px;
  background-color: #ddd;
  margin: 16px 0;
}

/* 직무테스트 하러가기*/
.sidebar-bottom {
  margin-top: auto; /* 사이드바 하단에 고정 */
  padding-top: 20px;
}

.bottom-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #0217C2;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #ccc;
  transition: background 0.2s;
}

.bottom-button:hover {
  background-color: #0217C208;
}

.bottom-button .icon {
  margin-right: 8px;
}

.bottom-button .arrow {
  margin-left: auto;
}
/***************************************************************/


