{% extends "base.html" %}
{% load static %}

{% block title %}게시글 작성{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'postform.css' %}">
{% endblock %}

{% block content %}

       <form class="post-form" action="/api/posts/create" method="post" enctype="multipart/form-data">
        
        <div class="form-header">
        <a href="frontend.html" class="back-button" aria-label="이전 페이지로 이동">
            <!-- 뒤로가기 아이콘 -->
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.6249 17.5L23.3333 24.2083L21.2916 26.25L12.5416 17.5L21.2916 8.75L23.3333 10.7917L16.6249 17.5Z" fill="black" fill-opacity="0.28"/>
        </svg>
        </a>
        <span class="form-title">프론트엔드 게시판</span>
        <!--완료 버튼-->
        <button type="submit" class="submit-button">완료</button>
        </div>
        <input type="text" name="title"  placeholder="제목을 입력해주세요">
        <textarea name="detail" placeholder="본문을 작성해주세요!"></textarea>
        <div class="file-upload">
            <label for="file">파일 삽입</label>
            <input type="file" id="file" name="file">
        </div>
        <div class="anonymous-check">
            <input type="checkbox" id="anonymous" name="anonymous">
            <label for="anonymous">익명</label>
        </div>
        </form>

    </main>
    <script>
    const textarea = document.getElementById("detail");
    textarea.addEventListener("input", function() {
    this.style.height = "auto";              // 높이를 초기화
    this.style.height = this.scrollHeight + "px"; // 내용에 맞게 다시 설정
     });
    </script>
{% endblock %}
