/**************************현재 인기글 영역**************/

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 12px;
  padding: 0 4px;
}

.popular-title {
  font-size: 20px;
  font-weight: bold;
  color: #0217C2;
  display: flex;
  align-items: center;
  gap: 6px;
}

.more-button {
  font-size: 14px;
  color: #00000050;
  text-decoration: none;
  font-weight: 700;
}


.popular-posts-slider {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding: 10px 0;
}

/* 인기글 카드형식 */ 
.popular-card {
  min-width: 220px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  background: #fff;
}

.popular-card .popular-category {
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #93939312;
  padding: 4px 10px;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  color: #0217C280;
  margin-bottom: 3px;
}

.popular-card .popular-title {
  font-size: 13px;
  font-weight: bold;
  color: #000496;
  margin-bottom: 6px;
}

.popular-card .popular-content {
  font-size: 10px;
  color: #0217C260;
  margin-bottom: 10px;
}

.popular-card .popular-meta {
  font-size: 10px;
  color: #888;
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
}