.header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: none;
    box-sizing: border-box;
    font-family: inherit;
}
/*프로필  (로그인 완료시)*/
.profile_box {
    width: 294px;
    height:309px;
    padding: 16px;
    border: 1px solid #0217c280;
    border-radius: 10px;
    background: #0217C208;
    font-family: inherit;
    box-sizing: border-box;
    
}

/* 헤더  */
.profile_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* 이미지 */
.profile_image {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #ddd;
}

/* 이름,아이디 */
.profile_info {
    flex-grow: 1;
    margin-left: 12px;
}

.profile_name {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.profile_id {
    font-size: 12px;
    color: #666;
}

/* 알림 아이콘 */
.profile_a {
    font-size: 18px;
    cursor: pointer;
}

/* 메뉴 버튼 */
.profile_menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.profile_menu_btn {
    padding:10px 16px;
    font-weight:600;
    border: 1px solid transparent; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    align-items: center;
    gap: 6px;
    width: 260px;
    min-height: 38px;
    border-radius:10px;
    background:#0217C208;
    color: #000000;
    font-size: 16px;
    border-color: #0217c280;
}

.profile_menu_btn:hover {
    background: #0217c280;
}

/* 하단 작은 버튼 */
.profile_b {
    display: flex;
    gap: 10px;
}

.profile_b_btn {
    padding:10px 16px;
    font-weight:600;
    border: 1px solid transparent; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    width: 122px;
    min-height: 38px;
    border-radius:10px;
    background:#0217C208;
    color: #000000;
    font-size: 16px;
    border-color: #0217c280;
}

.profile_b_btn:hover {
    background: #0217c280;
    color: #ffffff;
}