{% extends "base.html" %}
{% load static %} 
{% block title %}전체 게시글{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ category }} 게시글</h1>

    {% if posts %}
        <div id="post-list">
            {% for post in posts %}
                <div class="post-card">
                    <span class="post-category">{{ post.get_category_display }}</span>

                    <div class="post-title">
                        <a href="{% url 'board:post_detail' post.pk %}">{{ post.title }}</a>
                    </div>
                    <div class="post-content">
                        {{ post.content|slice:":150" }}...
                    </div>

                    <div class="post-meta">
                        <span>작성자: {{ post.user.username }}</span>
                        <span>👍 {{ post.like_count }}</span>
                        <span>💬 {{ post.comment_set.count }}</span>
                        <span>작성일: {{ post.date|date:"Y-m-d H:i" }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>현재 게시글이 없습니다.</p>
    {% endif %}
{% endblock %}

